@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.board-panel {
    @include card;

    display: grid;
    gap: 1rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: small;
    }

    p {
        font-size: small;
        background-color: $background;
        padding: 4px 8px;
        border-radius: 1rem;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 8px;
    width: 100%;
}
